nav { display: flex;
align-items: flex-end;
justify-content: flex-end;
background-color: rgb(255, 187, 0);
padding: 2rem;}

footer { padding: 2rem;
background-color: rgb(255, 187, 0);
display: flex;
justify-content: center;}

main {padding: 3rem;}